/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/*Global app level font declaration */
* {
  font-family: "Quicksand";
}
/*Reset custom margin */

body {
  margin: 0px;
  background-color: #eee;
}
